

.wk-message-split-box {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: table;
}

.wk-message-split-content {
    color: var(--wk-history-split-text);
    padding: 5px 8px 0;
    white-space: nowrap;
    width: auto;
    font-size: 12px;
    font-weight: 600;
}

.wk-message-split-line1 {
    background-image: linear-gradient(360deg, transparent, var(--wk-history-split-line));
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    top: 13px;
    width: 50%;
    display: table-cell;
    position: relative;
}

.wk-message-split-line2 {
    background-image: linear-gradient(360deg, var(--wk-history-split-line), transparent);
    background-position: 0 0,0 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    top: 13px;
    width: 50%;
    display: table-cell;
    position: relative;
}
